{% extends 'navigate.html' %}

{% block css %}
    <script src="/static/js/echarts.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading">文件上传</div>
          <div class="panel-body">
              <label>名字</label>
              {{ form.name }}
              <label>文件</label>
              {{ form.img }}
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">统计表</div>
          <div class="panel-body">
            统计图
          </div>
        </div>
        <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-default">
              <div class="panel-heading">柱状表</div>
              <div class="panel-body">
                <div id="main" style="width: 100%;height:400px;"></div>
              </div>
            </div>
        </div>
        <div class="col-xs-4">
                <div class="panel panel-default">
                  <div class="panel-heading">扇状表</div>
                  <div class="panel-body">
                    统计图
                  </div>
                </div>
            </div>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));

      // 指定图表的配置项和数据
      var option = {
        title: {
          text: '员工信息汇总表',
          textAlign:'auto',
            left:'center',
        },
        tooltip: {},
        legend: {
          data: ['销量','薪水'],
          bottom:0
        },
        xAxis: {
          data: ['衬衫', '羊毛衫', '雪纺衫', '裤子', '高跟鞋', '袜子']
        },
        yAxis: {},
        series: [
          {
            name: '销量',
            type: 'bar',
            data: [5, 20, 36, 10, 10, 20]
          },
            {
                name: '薪水',
                type: 'bar',
                data: [15, 10, 56, 30, 47, 70]
            }
        ]
      };

      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);
    </script>
{% endblock %}