{% extends 'navigate.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a href="/depart/add/" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建部门</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><div class="glyphicon glyphicon-th-list" aria-hidden="true" style="display: inline-block"></div>  部门信息</div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>部门编号</td>
                        <td>部门名称</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                {% for obj in departs %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <th>{{ obj.title }}</th>
                        <th>
                            <a href="/depart/edit/?id={{ obj.id }}" methods="GET" class="btn btn-sm btn-success"/>编辑
                            <a href="/depart/delete/?id={{ obj.id }}" methods="GET" class="btn btn-sm btn-danger"/>删除
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    <nav aria-label="...">
      <ul class="pagination">
        <li class=""><a href="/depart/?page={{ page|add:-1 }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% for i in ranges %}
            {% if i == page %}
                <li class="active"><a href="/depart/?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li class=""><a href="/depart/?page={{ i }}">{{ i }}<span class="sr-only">(current)</span></a></li>
            {% endif %}
        {% endfor %}
         <li>
          <a href="/depart/?page={{ page|add:1 }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    </div>
{% endblock %}